@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

body{
    font-family: 'Raleway', sans-serif;
    color:  #464646;
    background-color: #EDEDED;
}

.menu{
    height: 80px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    position: fixed;
    top: 0px;
    background-color: #EDEDED;
   
    
}
.nome{   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-weight: 700;
   
}
img{
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.links-scroll-pagina{   
    display: flex;
    flex-direction: row;
    font-weight: 500;
    
}


ul, li{
    float: left;
    margin-right: 20px;
    line-height: 24px;    
}
li, a{
    text-decoration: none;
    color:  #464646;
}
li, a:hover{
    color: #2A7AE4 ;
    transition: 2s;
}

#contato{
   font-weight: 700;
  
}
.introducao{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.apresentacao{
    width: 751px;
    height: 246px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    
}

.texto-titulo-apresentacao{
    width: 751px;
    height: 122px;
    line-height: 61px;
    font-size: 50px;
    font-weight:700;
    margin-bottom: 24px;
}
.breve-apresentacao{
    font-size: 20px;
    margin-bottom: 24px;
}
.links-redes-sociais{
    width: 517px;
    height: 24px;
    font-weight: 500;
          
}

.foto-perfil{
    width: 370px;
    height: 368px;    
    margin-left: 17px;
   
    
    
}

.area-foto{
    width: 370;
    height: 374px; 
    background-image:url('../img/foto-perfil/foto-perfil2.png');
    background-repeat: no-repeat;
    background-size: 100%;
   
}
main{
    margin-top: 32px;
    display: flex;
    height: auto;
    justify-content: center;

}
.sobre-mim{  
    width: 1136px;     
    height: 255px;
    display: flex;
    flex-direction: column;
    
   

}
.sober-mim-titulo{
    width: 167px;
    height: 38px;
    line-height: 38px;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 16px;

}
.area-texto{
    width: 751px;
    height: 133px;
    text-align:justify;
}

.skills{
    width: auto;
    margin-top: 32px;
    display: flex;
    justify-content: center;
    margin-bottom: 88px;
}
.skill__area{
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    

}


.skill__titulo{
    font-size: 32px;
    font-weight:700;
    text-align: center;
   
}

.skill__img{
    height: 174px;
    margin-top: 32px;
    display: flex;
    justify-content: flex-start;
   
      
}

.skill__igmArea{
    width: 176px;
    height: 174px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 16px;
    font-weight: 700;    
    
}

.skill_imgArea--icone{
    width: 50px;
    height: 50px;
    margin-bottom: 8px;
}

.formacao-academica{
   
    margin-bottom: 88px;
}

.formacao-academica__titulo{
    font-size: 32px;
    font-weight:700;
    margin-bottom: 32px;
    text-align: center;
}

.formacao-academica__instituicao{
   display: flex;
   justify-content: center;
}

.formacao-academica__logoEestatus{
    width:268px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    margin-left: 16px;
}
.formacao-academica__logoEestatusImg{
    width: 200px;
    height: 160px;
}
span{
    font-weight: 700;
    text-align: justify; 
}



.experiencia-profissional{
    display: flex;
    flex-direction: column;
    margin-bottom: 128px;
}



.experiencia-profissional__titulo{
    font-size: 32px;
    font-weight:700;
    text-align: center;
    margin-bottom: 32px;
   
}


.experiencia-profissional__projeto{
    height: 406px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 64px;   
}
.inverter{
    flex-direction: row-reverse;
}


.experiencia-profissional__demo{
    width: 752px;
    height: 406px;
    border-radius: 20px;
    box-shadow: 3px 4px 7px #272626e0;
}

.experiencia-profissional__informacoes{
    
    margin-left: 16px;
    margin-right: 16px;  
   
}

.btn-demo{
    width: 105px;
    height: 51px;
    background-color: #2A7AE4;   
    border: solid 1px #2A7AE4;
}


.btn-repositorio{
    width: 116px;
    height: 51px;   
    background-color: #fff;
    border: solid 1px #2A7AE4;
}

.btn-demo a{
    text-decoration: none;
    color: #fff;
}

.btn-repositorio a{
    text-decoration: none;
    color: #2A7AE4;
}


.contato{
    display: flex;
    justify-content: center;
    margin-bottom: 64px;
    
    
}
label{
    font-weight: 600;
}
.contato__img{
    width: 464px;
    height: 593px;
}
.contato__titulo{
    font-size: 32px;
    font-weight:700;
}

.contato__formulario form{
    display: flex;
    flex-direction: column;    
}
.contato__formularioInput{
    width: 656px;
    height: 56px;
    margin-bottom: 32px;
    border: none;
          
}
.contato__mensagem{
    width: 656px;
    height: 105px;
}


.btn-mensagem{
    width: 165px;
    height: 51px;
    background-color: #2A7AE4;
    color: #fff;
    border: solid 1px #2A7AE4;
    margin-top: 32px;
}

footer{
    text-align: center;
}






/*tablete*/
@media screen and (max-width: 1150px) and (min-width:730px){
    
    .links-scroll-pagina nav ul :nth-child(n){
        display: none;
    }
    .links-scroll-pagina nav ul :last-child{
        display: block;
    }
    .apresentacao {
        width: 524px;
        height: 130px;
    }
    .texto-titulo-apresentacao{
        width: 524px;
        height: 52px;
        line-height: 26px;
        font-size: 22px;
    }
    .breve-apresentacao{
        font-size: 16px;
    }
    .foto-perfil{
        width: 146px;
        height: 146px;
       
    }
    .area-foto{
        width: 146px;
        height: 146px;
       
    }
    .sober-mim-titulo{
        font-size: 22px;
    }
    .sobre-mim{
        width: 704px;     
        height: 222px;
        font-size: 14px;
    }

    .area-texto{
        width: 560px;
        height: 112px;
        font-size: 14px;
    }

    .skills{
        width: auto;
    }
    .skill__area{
        width: 704px;
        justify-content: center;
    }
    
    .skill__titulo{
        font-size: 22px;
    }

    .skill__img{
        width: 704px;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: 32px
    }
    .skill__igmArea{
        width: 225px;   
        height: 118px;       
      
    }
    .skill_imgArea--icone{
        width: 24px;
        height: 37px;
    }
    .formacao-academica__titulo{
        font-size: 22px;
    }
    .formacao-academica__logoEestatus{
        width: 224px;
        align-items: center;
    }

    
    


    .experiencia-profissional{
        margin-bottom: 40px;
    }

    .experiencia-profissional__titulo{
        font-size: 22px;
    }
    .experiencia-profissional__projeto {
        flex-direction: column;
        margin-bottom: 32px; 
    }

    .experiencia-profissional__demo{
        width: 600px;
        
    }

    .experiencia-profissional__informacoes{
        margin-top: 18px;
        justify-content:flex-start;
    }

    .contato__img{
        display: none;
    }
}

/* celular*/
@media screen and (max-width:729px) and (min-width: 600px){

    .links-scroll-pagina nav ul :nth-child(n){
        display: none;
    }
    .links-scroll-pagina nav ul :last-child{
        display: block;
    }

    .foto-perfil{
        width: 146px;
        height: 146px;
       
    }
    .area-foto{
        width: 146px;
        height: 146px;
       
    }
    .apresentacao {
       width: 328px;
    }  
    
    .texto-titulo-apresentacao{
        width: 328px;
        height: 52px;
        line-height: 16.44px;
        font-size: 14px;
    }

    .sobre-mim{
        width: 500px;     
        height: 222px;
        font-size: 14px;
    }
    .area-texto{
        width: auto;
    }
    .skills{
        width: auto;
    }
    .skill__area{
        width: 500px;
        justify-content: center;
    }
    .skill__img{
        width: 500px;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: 32px
    }    
    .skill__igmArea{
        flex-wrap: wrap;
        width: 156px;   
        height: 118px;       
      
    }
    .formacao-academica__instituicao{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .formacao-academica__logoEestatus{
        width: 300px;
        margin-bottom: 16px;
    }

    .experiencia-profissional__projeto{
        height: auto;
        flex-direction: column;
    }

    .experiencia-profissional__demo{
        width: 320px;
        height: 165px;
    }

    .experiencia-profissional__informacoes{
        margin-top: 16px;
    }

    .contato__img{
        display: none;
    }
    .contato__titulo{
        font-size: 22px;
    }

    .contato__formularioInput{
        width: 520px;
    }
    .contato__mensagem{
        width: auto;
    }

}
@media screen and (max-width:600px) and (min-width: 360px){
    .links-scroll-pagina nav ul :nth-child(n){
        display: none;
    }
    .links-scroll-pagina nav ul :last-child{
        display: block;
    }
    .foto-perfil{
        width: 146px;
        height: 146px;
       
    }
    .area-foto{
        width: 146px;
        height: 146px;
       
    }
    .apresentacao {
       width: auto;
       padding-left: 20px;
    }  
    .breve-apresentacao{
        font-size: 14px;
    }
    .links-redes-sociais{
        width: auto;
    }

    .links-redes-sociais ul li{
        font-size: 14px;
        margin-bottom: 15px;
    }
    img {
        width: 16px;
        height: 16px;
    }

    .texto-titulo-apresentacao{
        width: auto;
        height: 5px;
        line-height: 16.44px;
        font-size: 14px;
    }

    .sobre-mim{
        width: 350px;     
        height: auto;
        font-size: 14px;
    }

    .sober-mim-titulo{
        font-size: 22px;
    }

    .area-texto{
        width: auto;
    }
    .introducao{
        flex-direction: column-reverse;
        
    }

    .skills{
        width: auto;
        
    }

    .skill__titulo{
        font-size: 22px;
        margin-top: 32px;
    }

    .skill__area{
        width: 350px;
        justify-content: center;
    }
    .skill__img{
        width: 350px;
        height: auto;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: 32px
    }    
    .skill__igmArea{
        flex-wrap: wrap;
        width: 156px;   
        height: 118px;      
    }

    .skill_imgArea--icone{
        width: 30px;
        height: 30px;
    }

    .formacao-academica__titulo{
        font-size: 22px;
    }

    .formacao-academica__instituicao{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .formacao-academica__logoEestatus{
        width: 300px;
        margin-bottom: 16px;
    }

    .experiencia-profissional__projeto{
        height: auto;
        flex-direction: column;
    }

    .experiencia-profissional__titulo{
        font-size: 22px;
    }

    .experiencia-profissional__demo{
        width: 320px;
        height: 165px;
    }

    .experiencia-profissional__informacoes{
        margin-top: 16px;
    }

    .contato__img{
        display: none;
    }

    .contato__area p{
        margin-bottom: 10px;
    }
    .contato__titulo{
        font-size: 22px;
        text-align: center;
        margin-bottom: 10px;
        
    }

    .contato__formularioInput{
        width: auto;
    }
    .contato__mensagem{
        width: auto;
    }
    .contato{
       display: flex;
       flex-direction: column;
       justify-content: center;
    }
    .contato__area{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .btn-mensagem{
        width: auto;
    }

}

@media screen and (max-width:360px){

    .menu{
        flex-direction: column;
        align-items: flex-start;
        padding-left: 30px;
        
    }

    .links-scroll-pagina nav ul :nth-child(n){
        display: none;
    }
    .links-scroll-pagina nav ul :last-child{
        display: block;
        margin-top: 10px;
    }
    .foto-perfil{
        width: 146px;
        height: 146px;
       
    }
    .area-foto{
        width: 146px;
        height: 146px;
       
    }
    .apresentacao {
       width: 300px;
    }  
    .breve-apresentacao{
        font-size: 14px;
    }

     nav{
        width: 300px;
        display: flex;
        flex-wrap: wrap;
        
        
    }
    ul li{
       
        display: flex;
        flex-wrap: wrap;       
        font-size: 14px;
    
       
    }
    img {
        width: 16px;
        height: 16px;
        margin-right:20px ;
    }

    .texto-titulo-apresentacao{
        width: auto;
        height: 52px;
        line-height: 16.44px;
        font-size: 14px;
    }

    .sobre-mim{
        width: 300px;     
        height: auto;
        font-size: 14px;
    }

    .sober-mim-titulo{
        font-size: 22px;
    }

    .area-texto{
        width: auto;
    }
    .introducao{
        flex-direction: column-reverse;
        
    }

    .skills{
        width: auto;
        
    }

    .skill__titulo{
        font-size: 22px;
        margin-top: 32px;
    }

    .skill__area{
        width: 300px;
        justify-content: center;
    }
    .skill__img{
        width: 300px;
        height: auto;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: 32px
    }    
    .skill__igmArea{
        flex-wrap: wrap;
        width: 140px;   
        height: 118px;      
    }

    .skill_imgArea--icone{
        width: 30px;
        height: 30px;
    }

    .formacao-academica__titulo{
        font-size: 22px;
    }

    .formacao-academica__instituicao{
        flex-direction: column;
        justify-content: center;
       
        
    }
    .formacao-academica__logoEestatus{
        width: 290px;
        margin-bottom: 16px;
    }

    .experiencia-profissional__projeto{
        height: auto;
        flex-direction: column;
    }

    .experiencia-profissional__titulo{
        font-size: 22px;
    }

    .experiencia-profissional__demo{
        width: 80vw;
        height: 165px;
    }

    .experiencia-profissional__informacoes{
        margin-top: 16px;
    }

    

    .contato__img{
        display: none;
    }

    .contato__titulo{
        font-size: 22px;
        text-align: center;
        margin-bottom: 32px;
        
    }

    .contato__formularioInput{
        width: auto;
    }
    .contato__mensagem{
        width: auto;
    }
    .contato{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .contato__area{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .btn-mensagem{
        width: auto;
    }


}
